<form (submit)="submitForm($event)">
  <h2>{{ formTitle }}</h2>
  <ng-container *ngFor="let field of formFields">
    <app-form-field
      [label]="field.label"
      [formDataProperty]="field.formDataProperty"
      (inputChange)="updateFormData(field.formDataProperty, $event)"
      [placeholder]="field.placeholder"
      [inputType]="field.inputType"
      [selectOptions]="field.selectOptions"
      [value]="field.value"
    ></app-form-field>

    <div
      class="error-msg"
      *ngIf="isFormSubmitted && !formData[field.formDataProperty]"
    >
      This field cannot be empty.
    </div>
    <div
      class="error-msg"
      *ngIf="
        isFormSubmitted &&
        formData[field.formDataProperty] &&
        customValidationRules[field.formDataProperty] &&
        !customValidationRules[field.formDataProperty].rule(
          formData[field.formDataProperty]
        )
      "
    >
      {{ customValidationRules[field.formDataProperty].errorMessage }}
    </div>
  </ng-container>

  <app-custom-button
    type="submit"
    [buttonText]="submitBtnText"
  ></app-custom-button>
</form>
