<form (submit)="submitForm($event)">
  <h2>{{ formTitle }}</h2>
  <ng-container *ngFor="let field of formFields">
    <app-form-field
      [label]="field.label"
      [formDataProperty]="field.formDataProperty"
      (inputChange)="updateFormData(field.formDataProperty, $event)"
      [placeholder]="field.placeholder"
      [inputType]="field.inputType"
      [selectOptions]="field.selectOptions"
    ></app-form-field>
  </ng-container>
  <app-custom-button type="submit">{{ submitBtnText }}</app-custom-button>
</form>
