.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form h2 {
  margin-bottom: 35px;
}

form .field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form #submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-msg {
  color: red;
  margin-bottom: 35px;
}
