<app-header-connected></app-header-connected>
<main>
  <app-card
    class="article-details-card"
    [card]="article"
    [showButton]="false"
  ></app-card>
  <span class="division-line"></span>
  <h3>Commentaires</h3>
  <ng-container *ngFor="let comment of comments">
    <app-comment
      class="comments-container"
      [comment]="comment"
      [author]="articleAuthor"
    ></app-comment>
  </ng-container>
  <div class="comment-input-section">
    <div class="comment-container">
      <app-form-field
        class="comment-input"
        [placeholder]="'Commentaire'"
        [inputType]="'text'"
        (inputChange)="updateFormData('description', $event)"
      ></app-form-field>
      <img
        id="send-comment-btn"
        src="/assets/send_icon_p6.png"
        (click)="postComment()"
      />
      <input
        type="text"
        placeholder="Commentaire"
        class="responsive-comment-input"
        (input)="updateResponsiveFormData($event)"
      />
      <img
        id="responsive-send-comment-btn"
        src="/assets/send_icon_p6.png"
        (click)="postResponsiveComment()"
      />
    </div>
  </div>
</main>
