<app-header-connected></app-header-connected>
<app-card [card]="article" [showButton]="false"></app-card>
<h3>Commentaires</h3>
<ng-container *ngFor="let comment of comments">
  <app-comment [comment]="comment" [author]="articleAuthor"></app-comment>
</ng-container>
<div class="comment-input-section">
  <div class="comment-container">
    <app-form-field
      class="comment-input"
      [placeholder]="'Commentaire'"
      [inputType]="'text'"
      (inputChange)="updateFormData('description', $event)"
    ></app-form-field>
  </div>
  <img
    id="send-comment-btn"
    src="/assets/send_icon_p6.png"
    (click)="postComment()"
  />
</div>
