img {
  width: auto;
  height: 80%;
}

.header-nav {
  display: block;
}

.header-nav img {
  width: 50px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.header {
  height: 97px;
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  gap: 25px;
}

.header-nav a {
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.active {
  color: #6c5ccf;
}

#nav-btn-sidenav img {
  width: 50px;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.open-sidenav,
.hidden-sidenav {
  display: none;
}

@media only screen and (max-width: 650px) {
  .hidden-sidenav {
    display: none;
  }

  .open-sidenav {
    display: block;
  }

  .header-nav {
    display: none;
  }

  .header {
    position: relative;
  }

  #hamburger-btn span {
    height: 3px;
    background-color: black;
    width: 25px;
  }

  .open-sidenav {
    transition-timing-function: ease-in;
    transition-duration: 200ms;
    display: block;
    position: fixed;
    height: 100vh;
    width: 80vw;
    left: 20%;
    top: 0;
    background-color: white;
    z-index: 2;
    border-left: 2px solid black;
  }

  .open-sidenav #nav-btn-sidenav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 78%;
    margin: 50px;
  }

  .open-sidenav #nav-btn-sidenav .nav-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  #hamburger-btn {
    transition-timing-function: ease-in;
    transition-duration: 200ms;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    position: absolute;
  }

  .hamburger-btn-closed {
    position: absolute;
    top: 40px;
    right: 30px;
  }

  .hamburger-btn-open {
    position: fixed;
    top: 40px;
    left: 30%;
  }

  .hidden-sidenav {
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    position: absolute;
    height: 100vh;
    width: 80vw;
    left: 100%;
    top: 0;
    background-color: white;
    z-index: 2;
    border-left: 2px solid black;
  }

  .open-sidenav {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 72%;
    width: 80%;
  }

  .open-sidenav .nav-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 30px;
  }
  .open-sidenav img {
    margin-right: 20px;
    margin-bottom: 80px;
  }
}
