<app-header></app-header>
<app-back-btn></app-back-btn>
<app-dynamic-form
  [formTitle]="'Créer un nouvel article'"
  [formFields]="[
    {
      label: 'Theme',
      formDataProperty: 'theme',
      placeholder: 'Sélectionner un thème',
      inputType: 'select'
    },
    {
      label: 'Title',
      formDataProperty: 'title',
      placeholder: 'Titre de l\'article',
      inputType: 'text'
    },
    {
      label: 'Description',
      formDataProperty: 'description',
      placeholder: 'Contenu de l\'article',
      inputType: 'text'
    }
  ]"
  [submitBtnText]="'Créer'"
  (formSubmit)="postArticle($event)"
></app-dynamic-form>
