<app-header-connected></app-header-connected>
<app-back-btn></app-back-btn>
<app-dynamic-form
  [formTitle]="'Créer un nouvel article'"
  [formFields]="[
    {
      label: '',
      formDataProperty: 'theme',
      placeholder: 'Sélectionner un thème',
      inputType: 'select'
    },
    {
      label: '',
      formDataProperty: 'title',
      placeholder: 'Titre de l\'article',
      inputType: 'text'
    },
    {
      label: '',
      formDataProperty: 'description',
      placeholder: 'Contenu de l\'article',
      inputType: 'text'
    }
  ]"
  [submitBtnText]="'Créer'"
  (formSubmit)="postArticle($event)"
></app-dynamic-form>
