.themes-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.theme-card {
  display: flex;
  width: 49%;
}

.themes-section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0;
}
#disconnect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

#line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 1px;
  background-color: black;
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 650px) {
  .themes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
  }

  .theme-card {
    display: flex;
    width: 100%;
  }
}
