<app-header></app-header>
<app-back-btn></app-back-btn>
<main>
  <div class="profile-section">
    <app-dynamic-form
      [formTitle]="'Profil d\'utilisateur'"
      [formFields]="[
        {
          label: '',
          formDataProperty: 'username',
          placeholder: usernameField,
          inputType: 'text'
        },
        {
          label: '',
          formDataProperty: 'email',
          placeholder: emailField,
          inputType: 'text'
        }
      ]"
      [submitBtnText]="'Sauvegarder'"
      (formSubmit)="updateUser($event)"
    ></app-dynamic-form>
    <app-custom-button
      [buttonColor]="'red'"
      [buttonText]="'Se déconnecter'"
      [clickHandler]="logOut.bind(this)"
    ></app-custom-button>
  </div>
  <span id="line"></span>
  <div class="themes-section">
    <h2 class="themes-section-title">Abonnements</h2>
    <div class="themes-container">
      <ng-container *ngFor="let theme of themes">
        <app-card class="theme-card" [card]="theme"></app-card>
      </ng-container>
    </div>
  </div>
</main>
