.articles-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}

.article-card {
  display: flex;
  width: 49%;
}

.article-page-subheader {
  display: flex;
  width: 90%;
  justify-content: space-between;
}

#sort-btn img {
  width: auto;
  height: 15px;
  transform: rotate(-90deg);
}

#sort-btn .activated {
  transform: rotate(90deg);
}

#sort-btn span {
  margin-right: 5px;
}

#sort-btn {
  cursor: pointer;
}
