<app-header></app-header>
<main>
  <app-back-btn class="back-btn-component"></app-back-btn>
  <img class="mq-logo" src="/assets/logo_p6.png" />
  <app-dynamic-form
    [formTitle]="'Se connecter'"
    [formFields]="[
      {
        label: 'E-mail ou nom d\'utilisateur',
        formDataProperty: 'emailOrUsername',
        placeholder: '',
        inputType: 'text'
      },
      {
        label: 'Mot de passe',
        formDataProperty: 'password',
        placeholder: '',
        inputType: 'password'
      }
    ]"
    [submitBtnText]="'Se connecter'"
    (formSubmit)="login($event)"
  ></app-dynamic-form>
</main>
