<app-header></app-header>
<main>
  <app-back-btn></app-back-btn>
  <app-dynamic-form
    [formTitle]="'Inscription'"
    [formFields]="[
      {
        label: 'Nom d\'utilisateur',
        formDataProperty: 'username',
        placeholder: '',
        inputType: 'text'
      },
      {
        label: 'Adresse e-mail',
        formDataProperty: 'email',
        placeholder: '',
        inputType: 'text'
      },
      {
        label: 'Mot de passe',
        formDataProperty: 'password',
        placeholder: '',
        inputType: 'text'
      }
    ]"
    [submitBtnText]="'S\'inscrire'"
    (formSubmit)="register($event)"
  ></app-dynamic-form>
</main>
