<app-header></app-header>
<main>
  <app-back-btn class="back-btn-component"></app-back-btn>
  <img class="mq-logo" src="/assets/logo_p6.png" />
  <app-dynamic-form
    [formTitle]="'Inscription'"
    [formFields]="[
      {
        label: 'Nom d\'utilisateur',
        formDataProperty: 'username',
        placeholder: '',
        inputType: 'text'
      },
      {
        label: 'Adresse e-mail',
        formDataProperty: 'email',
        placeholder: '',
        inputType: 'text'
      },
      {
        label: 'Mot de passe',
        formDataProperty: 'password',
        placeholder: '',
        inputType: 'password'
      }
    ]"
    [submitBtnText]="'S\'inscrire'"
    (formSubmit)="register($event)"
  ></app-dynamic-form>
</main>
