.card {
  display: flex;
  flex-direction: column;
  min-height: 161px;
  padding: 12px 17px 25px 17px;
  background-color: #f5f5f5;
  margin: 6px;
  width: 100%;
  justify-content: space-between;
}

.mat-card-header-text {
  margin: 0px;
}

.card-subheader {
  display: flex;
}

.card-subheader span {
  width: 50%;
  font-family: "Inter", sans-serif;
}

.card-title {
  display: flex;
  align-items: start;
  justify-content: left;
  font-weight: 700;
  margin-bottom: 8px;
  font-family: "Inter", sans-serif;
}

.card-description {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  text-align: justify;
  font-family: "Inter", sans-serif;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
