<!-- CardComponent template -->
<mat-card class="card">
  <h2 class="card-title">{{ card.title }}</h2>
  <div class="card-subheader">
    <span class="subheader-text article-date">{{ card.updatedAt }}</span>
    <span class="subheader-text article-author">{{ card.author }}</span>
    <span class="subheader-text article-theme">{{ card.theme }}</span>
  </div>
  <mat-card-content class="card-description">
    {{ card.description }}
  </mat-card-content>
  <mat-card-actions class="card-btn-container" *ngIf="[showButton]">
    <app-custom-button
      class="card-btn"
      [buttonText]="buttonText || 'Subscribe'"
      [clickHandler]="btnAction"
    ></app-custom-button>
  </mat-card-actions>
</mat-card>
