.card {
  display: flex;
  flex-direction: column;
  min-height: 161px;
  max-height: 200px;
  min-width: 391px;
  padding: 12px 17px 25px 17px;
  background-color: #f5f5f5;
  margin: 6px;
  width: 100%;
  justify-content: space-between;
}

.mat-card-header-text {
  margin: 0px;
}

.card-subheader {
  display: flex;
}

.card-subheader span {
  width: 50%;
}

.card-title {
  display: flex;
  align-items: start;
  justify-content: left;
  font-weight: 700;
  margin-bottom: 8px;
}
.card-description {
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Change this to the number of lines you want to display */
  overflow: hidden;
  text-align: justify;
}

.card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
